.menu-container{
  background-color:#212121;
  color: white;
  height: 100%;
}
h1{
  margin: 0;
  font-size: 30px;
}
p{
  width: 91px;
  text-align: left;
  font-size: 15px;
  color: #606060;
  transition: 0.5s;
  cursor: pointer;
}
p:hover{
  color: #8d8d8d;
  filter: brightness(1.5);
  transition: 0.5s;
}
.header{
  height: 100px;
  display: grid;
  justify-content: center;
  align-content: center;
  border-bottom: 8px solid #151515
}
.body-menu{
  margin-top: 50px;
  display: grid;
  justify-content: center;
}
