<div class="contenedor">
  @if (user.length > 0) {
    <div></div>
  <div class="content">

    <div class="body">
      <div class="personal-col">
        <div class="header">
          <h1> {{user[0].username}} </h1>
          <h3>{{user[0].name}}</h3>
        </div>
        <div>
          <h2>Personal Information</h2>
          <p><span>City:</span> {{user[0].address.city}}</p>
          <p><span>Street:</span> {{user[0].address.street}}</p>
          <p><span>Zip Code:</span> {{user[0].address.zipcode}}</p>
        </div>

      </div>
      <div class="buisness-col">
        <h2>Buisness Information</h2>
        <p><span>Email:</span> {{user[0].email}}</p>
        <p><span>Phone Number:</span> {{user[0].phone}}</p>
        <p><span>WebSite:</span> {{user[0].website}}</p>
        <p class="subTitleCompany">Company</p>
          <p class="companyDetails"><span>Name:</span> {{user[0].company.name}}</p>
          <p class="companyDetails"><span>Cath Prase:</span> {{user[0].company.catchPhrase}}</p>
          <p class="companyDetails"><span>Bs:</span> {{user[0].company.bs}}</p>
      </div>

    </div>
  </div>
  }
</div>
