.container{
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
}

*{
  font-family:monospace;
}
.content{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr 1fr;
}

.views{
  background: #CEDFE0;
}

app-header{
  height: 108px;
}
