.contenedor{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.cards{
  background: rgb(255, 255, 255);
  margin: 25px;
  height: 350px;
  box-shadow: 5px 4px 7px black;
}
.ranking{
  width: 85%;
  height: 40px;
  background: rgb(238, 233, 233);
  padding-left: 20px;
  margin-top: 40px;
  align-content: center;
  border-radius: 25px;
  justify-self: center;

}
.rankings{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
span{
  background: -webkit-linear-gradient( darkblue, darkorchid);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.first{
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;
    border: 4px solid transparent;

}
h2{
  padding-left: 20px;
}
.container-cards{
  display: grid;
  grid-template-columns:  1fr;

}
app-cards-users, app-cards-posts{
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

h1{
  padding-left: 25px;
}

.red{
  color: red;
}
