div{
  display: grid;
  background: white;
  height: 200px;
  margin: 25px;
  box-shadow: 5px 4px 7px black;
  transition: 0.5s;
  cursor: pointer;
}
div:hover{
  transform: scale(1.05);
  transition: 0,5s;
}
h1{
  align-self: center;
  text-align: center;
  transition: 0.8s;
  justify-self: center;
  z-index: 999;
  position: absolute;
  margin: 0px;
}

div:hover span{
  transition: 0.5s;
  height: 200px;
}

span{
  position: relative;
  background: #a3ffd6;
  height: 0px;
  transition: 0.5s;
}
